
<div class="px-4 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-font">Hola! ¿Qué te apetece hoy?</p> 
   

      <div class="input-group rounded">
        <input type="search" class="form-control rounded text-font" placeholder="Nombre del producto" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <img class="img-zoom" src="../../../assets/img/icon/search.png" width="25px" height="25px" alt="">
        </span>
      </div>
    </div>
  



  </div>






